streamlit
tensorflow==2.12.0
keras==2.12.0
keras-applications==1.0.8
keras-preprocessing==1.1.2
Pillow
numpy<2.0.0
mtcnn
scikit-learn
opencv-python-headless
git+https://github.com/rcmalli/keras-vggface.git